<?xml version="1.0"?>
<model>
  <name>trash_bottle</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author><name>Bootcamp ROS 2</name></author>
  <description>Dechet "bouteille plastique" (cylindre + col). Classe plastic (tri J5)
    ET cible YOLO COCO 'bottle' (TP03). Variante mesh Fuel realiste en commentaire.</description>
</model>
