<?xml version="1.0"?>
<model>
  <name>shape_star</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author><name>Bootcamp ROS 2</name></author>
  <description>Forme TP01 : etoile 5 branches ROUGE (polyline extrudee, ~5 cm,
    epaisseur 3 cm). Detection couleur HSV + forme (contour OpenCV).</description>
</model>
