<?xml version="1.0"?>
<model>
  <name>coffee_pack_3</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author><name>Bootcamp ROS 2</name></author>
  <description>Paquet de cafe simplifie #3 (boite + label texture). Classe coffee_3
    (classification multi-classes).</description>
</model>
