<?xml version="1.0"?>
<model>
  <name>trash_can</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author><name>Bootcamp ROS 2</name></author>
  <description>Dechet "canette" (cylindre metal). Classe metal (tri J5). Cible YOLO
    approx. (COCO n'a pas 'can' ; voir trash_bottle pour la classe 'bottle').</description>
</model>
